div{

    background-color: rgba(42, 42, 42, 1);
    max-height: 70vh;
   
    color: white;
}
.info {
   font-size: 12px;
}
.link {
    background-color:rgba(102, 102, 102, 1); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    }
   img{
       float: right;
       padding: 5px;
   }
   