<div mat-dialog-content>

    <img src="{{book.ImageUrl}}" alt="">
    
    <span class="info">
        <h4>Titre:</h4> {{book.Title}}
        
        <h4 *ngIf="book.SubTitle"> Sous-titre</h4>{{book.SubTitle}}
        <h4 *ngIf="book.Author">Auteur:</h4> {{book.Author}}
        <h4 *ngIf="!book.Author">Auteur: Non disponnible</h4>
        <h4 *ngIf="book.Category">Categorie:</h4> {{book.Category}}
        <h4 *ngIf="book.PageCount">Nombre de pages:</h4>{{book.PageCount}}
        <h4 *ngIf="book.Rating"> votes</h4><p *ngIf="book.Rating">{{book.Rating}}/5</p>
        <h4 *ngIf="book.PublishDate">Date publication:</h4> {{book.PublishDate}}
        <h4>Lien:</h4> 
        <h4>

            <a *ngIf="book.WebRead" class="link" href="{{book.WebRead}}" target="blank"> lien Lecture en ligne</a> 
            <a *ngIf="book.PdfLink" class="link" href="{{book.PdfLink}}" target="blank">Lien telechargement pdf</a>

        </h4>



    </span>
    <span class="info">
        <h4 *ngIf="book.Description">
            <hr> Description:</h4> {{book.Description}}

        <h4 *ngIf="!book.Description">
            <hr> Description: Non disponnible</h4>
    </span>

</div>