<nav>
    <a class="gohome" routerLink="" routerLinkActive="active">
        chercher un autre ?
        <i class="material-icons">search </i>
    </a>

    <div class="filter">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Filtrer" [(ngModel)]="filtre.Author" (input)="onChange()" >
        </mat-form-field>
        <mat-form-field>

            <mat-select panelClass="select" [(value)]="authSelect" placeholder="par Auteurs">
                <mat-option *ngFor="let book of ktab" [value]="book.Author">
                    <h4>{{book.Author}}</h4>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select panelClass="select" [(value)]="catSelect" placeholder="par Categorie">
                <mat-option *ngFor="let book of ktab" [value]="book.Category">
                    <h4>{{book.Category}}</h4>
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</nav>

<div class="grid">

    <div class="galerie" *ngFor="let book of ktab">

        <div class="card" (click)="onClick(book)">

            <span>
                <h5>{{book.Title}}</h5>
                <h6 *ngIf="book.Author">by :{{book.Author}} </h6>
                <h6 *ngIf="book.PublishDate">{{book.PublishDate}} </h6>
                <h6 *ngIf="book.Category">{{book.Category}} </h6>
            </span>
            <img src="{{book.ImageUrl}}" alt="">

        </div>

    </div>
    <!--button (click)="onClickPage(40)"></button-->
</div>
