@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.box {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 55%;
  min-width: 400px;
  transform: translate(-50%, -50%);
  
}
.titre {
  position: absolute;
  top: 25%;
  left: 10%;
  
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.9s;
  box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  background: #fff;
  width: 71%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

input[type="submit"] {
  width: 29%;
  height: 50px;
  position: relative;
  border: none;
  cursor: pointer;
  background: rgba(102, 102, 102, 1); 
  padding: 0 25px;
  border-radius: 0 25px 25px 0;
}

input[type="submit"]:hover {
  background:rgba(42, 42, 42, 1); 
  transform: translate(5%);
}